<header class="header">
  <div class="header-container">
    <div class="header-left">
      <a href="/" class="brand"><%= shopName %></a>
    </div>

    <div class="header-right">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/search">Search</a>
      <a href="/register">Register</a>
      <a href="/survey">Survey</a>
    </div>
  </div>
</header>
