<!DOCTYPE html>
<html>
  <head>
    <title><%= shopName %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- the header (navigation bar) for pages -->
    <%- include("partials/header.ejs") %>

    <!-- Main heading -->
    <h1>Welcome to <%= shopName %></h1>
    <h2>Check out our delicious drinks:</h2>

    <!-- EJS loop that lists all product categories -->
    <ul>
      <% for (let i = 0; i < productCategories.length; i++) { %>
      <li><%= productCategories[i] %></li>
      <% } %>
    </ul>
  </body>
</html>
